/*
author = eprasetio

Custom CSS for Croaka website.
*/

/* ---- Main HTML---- */
body{font-family:'Open Sans', sans-serif;}

button{
    border: none;
    border-radius: 1px;
    background-color: #96cf54;
    color: #fff;
    padding: 5px 10px 5px 10px;
}
button:hover{background-color:#abd876;}

.main-container{margin-top: 56px;}
@media (min-width: 768px){.col-sm-offset-right-3{margin-right: 25%;}}
@media (min-width: 992px){.col-md-offset-right-3{margin-right: 16.66666667%;}}

/* ---- Categories Tiles in Main Page (TODO: change tag to category) ---- */
#tag-img>a:hover {text-decoration: none;}
#tag-img:hover{opacity: 0.5;}
#tag-img {
    float:left;
    position: relative;
    width: 100%;
    padding-bottom : 80%; /* = width for a 1:1 aspect ratio */
    margin:1.66%;
    border-radius:1px;
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover; /* you change this to "contain" if you don't want the images to be cropped */
}
#tag-value{
    font-size: 2vw;
    color: #fff;
    top: 50px;
    display: block;
    position: relative;
}
a#logo-container{margin-left:40px;color:#5496cf}
a#logo-container:hover{text-decoration: none;color:#5496cf;}
#logo-img{
    height: 50px;
    width: auto;
    padding: 5px;
}
#logo-title{
    font-size: 30px;
    font-weight: bold;
    font-family: cursive;
}

/* ---- navbar ----*/
#main-navbar{
    background-color: #fff;
    border-bottom:solid 1px;
    border-color: #aaa;
}
.navbar-dropdown{
	display:block;
	padding-top:15px;
	padding-bottom:15px;
	color: #333;
    font-weight: bold;
}
.dropdown-title{display: inline-block;}
.navbar-right{margin-right:0px;}

/* ---- Sidebar ---- */
.sidebar{background-color:#5496cf;}
@media (max-width: 768px){
    .sidebar{
        display: block;
    }
}
.nav-sidebar>li>a{color:#fff;}
.nav-sidebar>li>a:hover{background-color:#96cf54;color:#fff;}
.sidebar-header{
    padding-bottom: 9px;
    margin: 10px 0 5px;
    border-bottom: 1px solid #ddd;
}
.sidebar-right{
    position: fixed;
    top: 51px;
    bottom: 0;
    right: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f5f5f5;
    border-left: 1px solid #eee;
}
span.sidebar-icon{
    margin-right: 10px;
    padding: 5px;
    border: 1.5px solid #fff;
    border-radius: 20px;
}
#sidebar-playlists-list{margin-left: 0px;margin-right: 0px;}
ul#sidebar-playlists-list>li>a {background-color: #65a0d3;padding-left: 35px;}
ul#sidebar-playlists-list>li>a:hover {background-color: #abd876;}

/* ---- login modal window ---- */
#login-title{
    color: #333;
    font-weight: bold;
    display: inline-block;
    cursor: pointer;
    padding-top: 15px;
    padding-bottom: 15px;
}
.tab-content{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
}
#login-register-container{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 1px;
    width:400px;
}

/* ---- Songs List Table ---- */
.song-listing-table>tbody>tr>td{border: 0;}
.song-listing-table>thead>tr>th{border:0;}
.pagination>li>a{border:0;}

/* ---- Song Page's Control Panel ---- */
#song-ctrl-panel-list{    
    list-style: none;
    margin: 0px;
    padding: 0px;
}
#song-ctrl-panel{margin-left: 5px;margin-right: 5px;}
.song-ctrl-list{
    display:block;
    position: relative;
    padding: 5px 15px 5px 15px;
}
iframe.youtube-video{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
#song-right-ctrl-bar{position:relative;}
.song-ctrl-btn{
    background-color: #ddd;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}
@media (min-width: 768px){
#song-right-ctrl-bar{
    list-style: none;
    position: fixed;
    top: 100px;
    right: 0;
    z-index: 1000;
    display: block;
    padding: 10px 0px 0px 10px;
    background-color: #f5f5f5;
    border-left: 1px solid #eee;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.song-note-ctrl{font-size: 30px;text-align: center;}
#current-note{
	color: #428bca;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
    min-width: 40px;
    display: inline-block;
}
.thumb-ctrl{text-align: center;}
#user-thumbs-count{
    font-size: 15px;
    margin-right:5px;
    margin-left:5px;
}
#user-thumb{
    font-size: 30px;
    margin-right:5px;
    margin-left:5px;
    cursor:pointer;
}
.chord-trans-btn{
    background-color: #eee;
    width: 40px;
    text-align: center;
    cursor:pointer;
    padding: 2px 10px 2px 10px;
    margin: 0px 2px 0px 2px;
    border-radius: 2px;
    font-weight: 600;
}
.chord-trans-btn:hover{background-color:#EC9200;color:#fff;}
.get-text-btn{
    background-color:#1C153F;
    color:#BDCED7;
    width:90px;
    text-align:center;
    cursor:pointer;
    padding: 2px 10px 2px 10px;
    margin: 0px 0px 10px 0px;
    border-radius: 2px;
}
.get-text-btn:hover{background-color:#EC9200;color:#fff;}
/* -- Add to Playlist Modal Window -- */
.playlist-modal-dialog{margin: auto;}
#playlist-delete-btn{float:right;}

/* ---- Song Page Main Content ---- */
.song-page-subtitle>h6,.thumbs-template{display:inline;}
.song-page-subtitle>.thumbs-template>p,span{display:inline;}
.chord-seg{
	color: #78a543; /*#EC9200;*/
    font-weight:bold;
	display: inline-block;
}
.lyric-line{font-family: "Courier New", Courier, monospace;}
.chord-line{font-family: "Courier New", Courier, monospace;}
.text-seg{display: inline-block;}
.text-line{
    font-family: "Courier New", Courier, monospace;
    white-space: pre;
    color: #333;
    font-weight: normal;
}
textarea.lyric-text-area{font-family: "Courier New", Courier, monospace;white-space: pre;}
#song-lyric-temp{display: none;}
#song-base-note-template{display: inline;}
.list-inline{margin-left:0px;}
.list-inline>li{
    cursor: pointer;
    display: inline-block;
    background-color: #96cf54;
    color: #fff;
    margin: 0px 1.5px 0px 0px;
    padding: 2px 5px 2px 5px;
    font-size: 13px;
}
.playlists-container{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 1px;
}

/* ---- Profile Page's Profile Picture ---- */
.profile-info-container{
    margin: 5px;
    padding: 5px;
    line-height: 25px;
}
.profile-picture-container{
    height:200px;
    width:200px;
    margin: 5px;
    overflow:hidden;
    position:relative;
}
#profile-picture{
    height:200px;
    width:200px;
    background-size: contain;
    background-position:center center;
    background-repeat:no-repeat;
    overflow:hidden;
}
#profile-picture-edit-btn{
    position: absolute;
    right: 5%;
    top: 85%;
    opacity: 0.6;
    color: #aaa;
    font-size: 200%;
}
#profile-picture-edit-btn:hover{opacity: 1;color:#428bca;;}
#profile-picture-edit-btn-text{font-size:14px;}

/* ---- Profile Picture Thumbnail Container Combo ---- */
#profile-picture-thum-container{
    margin-left:3px;
    margin-right:3px;
    padding:1px;
    overflow:hidden;
    border: 1.5px solid #5496cf;
    border-radius:50px;
    background-color:#FFF;
    float:left;
}
#profile-picture-thum-container-navbar {
    margin-top:5px;
    margin-left:3px;
    margin-right:3px;
    padding:1px;
    overflow:hidden;
    border: 1.5px solid #5496cf;
    border-radius:50px;
    background-color:#FFF;
    float:left;
}
#profile-picture-thumb{
    height:30px;
    width:30px;
    background-size: 30px auto;
    background-position: center center;
    background-repeat:no-repeat;
    background-color:#FFF;
    border-radius:50px;
    overflow:hidden;
}
ul.user-profile-picture-combo{
    padding-left: 0;
    list-style-type: none;
    display: inline-block;
    margin-bottom: 0px;
}
li#username-container{
    float:left;
    margin-top:5px;
    margin-bottom:5px;
}