/* color palete
dark brown: #9E6B4F;
greyish brown: #6D5E4D;
light brown: #F7D8B9;
dark green: #1D2A1B;



*/

/* ---- Main Frame CSS ---- */
body{
	font-family: 'Cabin', sans-serif;
	height:100%;
	font-size:14px;
	font-color:#1C153F;
	background-color:#1C153F;
}

hr{
	border-color: #EC9200;
}

footer{
	background-color: #1C153F;
    color: #fff;
    border-top-color: #EC9200;
	border-top-width:1px;
}

.main-container{
    margin-top: 56px; 
}

.footer-container{
	margin-top:15px;
	padding-top:15px;
	padding-bottom:15px;
	padding-left:20px;
	padding-right:20px;
}

.navbar-dropdown{
	display:block;
	padding-top:15px;
	padding-bottom:15px;
	color: #1C153F;
    font-weight: bold;
}

.dropdown-title{
	display: inline-block;
}

.navbar-dropdown>.dropdown-menu{
	background-color:#E7F3F6;;
}

.navbar-dropdown>.dropdown-menu>li>a{
	color: #1C153F;
    font-weight: bold;
}

.navbar-dropdown>.dropdown-menu>li>a:hover{
	color: #FFF;
    background-color: #1C153F;
}

.navbar-style{
	background-color: #E7F3F6;
    border-bottom-color: #1C153F;
    border-bottom-width: initial;
    border-top-color: #1C153F;
    border-top-width: initial;
    opacity: 0.9;
}

.mainbar-offcanvas{
	background-color:#E7F3F6;
	margin:5px;
	padding:20px;
	border-radius:2px;
}

.sidebar-offcanvas{
	background-color:#E7F3F6;
	margin:5px;
	padding:20px;
	border-radius:2px;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #1C153F;
}

/* ---- Index Page Css ---- */
.cover-img{
    position: relative;
    width: 100%;
    height: 720px;
}

.main-search-box-holder{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.main-search-table{
	height:720px;
	width:100%;
	display:table;
}

.main-search-cell{
	display:table-cell;
	float:none !important;
    text-align: center;
    vertical-align: middle;
}

.main-search-box{
    display: inline-block;
    padding: 28px;
    position: relative;
    width: auto;
    background-color: rgba(158,107,79,0.7);
    border-radius: 2px;
    color: #fff;
}

.main-search-form{
	position: relative;
}

.form-inline .form-control{
	width: 400px;
	overflow:hidden;
	resize:none;
	background-color: #eee;
}

.search-icon{
	color:#EC9200;
}

.navbar-inverse .navbar-brand{
	color: #1C153F;
}

.navbar-inverse .navbar-brand:hover{
	color:#fff;
	background-color:#1C153F;
}

.navbar-inverse .navbar-nav>li>a {
	color:#1C153F;
}

.navbar-inverse .navbar-nav>.active>a{
	color: #fff;
    background-color: #1C153F;
}

.navbar-inverse .navbar-nav>li>a{
	color: #1C153F;
    font-weight: bold;
}

.navbar-inverse .navbar-nav>li>a:hover{
	color:#fff;
	background-color:#1C153F;
}

.navbar-inverse .navbar-nav>li{
	color: #000;
    font-weight: bold;
}

/* ---- Listing Page CSS ---- */
.song-listing-table>tbody>tr>td{
	border: 0;
}

.song-listing-table>thead>tr>th{
	border:0;
}

.pagination>li>a{
	border:0;
}


/* ---- Song Page CSS ---- */
iframe.youtube-video{
	width:100%;
	min-height: 315px;
	height:auto;
}

.song-page-subtitle>h6,.thumbs-template{
	display:inline;
}


.song-page-subtitle>.thumbs-template>p,span{
	display:inline;
}

.thumbs-template{
	float:right;
}

#song-thumbs-count{
	border:2px solid;
	border-color:#EC9200;
	border-radius:2px;
	padding-left:5px;
	padding-right:5px;
	margin-right:5px;
	font-size:14px;
	font-weight: 500;
}

.chord-seg{
	color: #EC9200;
	display: inline-block;
}

.lyric-line{
	font-family: "Courier New", Courier, monospace;
}

.chord-line{
	font-family: "Courier New", Courier, monospace;
}

.text-seg{
	display: inline-block;
}

.text-line{
	font-family: "Courier New", Courier, monospace;
	white-space: pre;
	color: #1C153F;
    font-size: 14px;
	font-weight: 600;
    line-height: 1.6;
}

textarea.lyric-text-area{
	font-family: "Courier New", Courier, monospace;
	white-space: pre;
}

.chord-trans-btn{
	background-color: #eee;
	width: 40px;
    text-align: center;
    cursor:pointer;
	padding: 2px 10px 2px 10px;
    margin: 0px 2px 0px 2px;
    border-radius: 2px;
    font-weight: 600;
}

.chord-trans-btn:hover{
	background-color:#EC9200;
	color:#fff;
}

.get-text-btn{
	background-color:#1C153F;
	color:#BDCED7;
	width:90px;
	text-align:center;
	cursor:pointer;
	padding: 2px 10px 2px 10px;
    margin: 0px 0px 10px 0px;
    border-radius: 2px;
}

.get-text-btn:hover{
	background-color:#EC9200;
	color:#fff;
}

#song-lyric-temp{
	display: none;
}

#song-base-note-template{
	display: inline;
}

.list-inline>li{
	cursor:pointer;
	display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
    background-color: #EC9200;
    color: #fff;
    padding: 2px 10px 2px 10px;
    margin: 0px 2px 0px 2px;
    border-radius:2px;
}

.playlists-container{
	padding-left:15px;
	padding-right:15px;
	padding-top:20px;
	padding-bottom:20px;
}


.playlist-name{

}

/* ---- Toggle Switch Styling ---- */